
html {
  background: #2F303A no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

html::-webkit-scrollbar{
  display: none;
}

.page-text {
  color: white;
  align-self: center;
}
/* landing-page-background */

#landing-page-background {
position: absolute;

width: 100%;
height: 100%;
left: 0px;
top: 0px;


background: #2F303A;

}

/* Ellipse 1 */
#ellipse-1 {
position: absolute;
width: 342px;
height: 342px;
left: 138px;
top: 626px;
z-index: 0;
}

/* Ellipse 5 */
#ellipse-5 {
position: absolute;
width: 342px;
height: 342px;
left: 174px;
top: 616px;
z-index: 0;
}

/* Ellipse 2 */
#ellipse-2 {
position: absolute;
width: 240px;
height: 240px;
left: 588px;
top: 146px;
z-index: 0;
}

/* Ellipse 6 */
#ellipse-6 {
position: absolute;
width: 240px;
height: 240px;
left: 608px;
top: 146px;
z-index: 0;
}

/* Ellipse 3 */
#ellipse-3 {

position: absolute;
width: 497px;
height: 497px;
left: 1500px;
top: 661px;
z-index: 0;
}

/* Ellipse 4 */
#ellipse-4 {
position: absolute;
width: 497px;
height: 497px;
left: 1440px;
top: 661px;
z-index: 0;
}

/* Get The Feedback You Need */
#landing-page-text {
position: absolute;
width: 1740px;
height: 100px;
left: 90px;
top: 372px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 24px;
/* or 33% */

text-align: center;

color: #FFFFFF;
}


/* buttonGetStarted */
#button-get-started {
position: absolute;
width: 369.86px;
height: 77.98px;
left: 768.39px;
top: 548.02px;
}

#button-get-started-rectangle {
    position: absolute;
width: 369.86px;
height: 77.98px;
left: 768.39px;
top: 548.02px;

background: #EB5757;
border-radius: 10px;
}

#button-get-started-text {
    background: #EB5757;
    position: absolute;
width: 365.73px;
height: 73.53px;
left: 768.39px;
top: 552.47px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
/*line-height: 100px;*/
/* or 417% */

/*align-items: center;
text-align: center;*/

color: #FFFFFF;

}

/* SIGN UP */
#button-sign-up {
position: absolute;
width: 93px;
height: 24px;
left: 1407px;
top: 30px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

text-align: center;

color: #FFFFFF;
}


/* Frame 1 */


/* Auto Layout */
#button-about {
    position: absolute;
    width: 79px;
    height: 24px;
    left: 1552px;
    top: 30px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    
    text-align: center;
    
    color: #FFFFFF;
}


/* LOG IN */
#button-login {
position: absolute;
width: 78px;
height: 24px;
left: 1271px;
top: 30px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

text-align: center;

color: #FFFFFF;
}

#button-contact {
    position: absolute;
width: 115px;
height: 24px;
left: 1680px;
top: 30px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

text-align: center;

color: #FFFFFF;
}

/* SurveyApp */

#landing-page-logo {
position: absolute;
width: 162px;
height: 24px;
left: 107px;
top: 40px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 24px;
/* identical to box height, or 80% */

text-align: center;

color: #FFFFFF;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COORDINATORS SURVEY LIST PAGE
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* buttonGetStarted */
#button-create-new-survey {
    position: absolute;
    width: 259px;
    height: 52.65px;
    left: 448px;
    top: 148px;
    }
    
    #button-create-new-suvey-rectangle {
    position: absolute;
    width: 259px;
    height: 52.65px;
    left: 448px;
    top: 148px;
    
    background: #EB5757;
    border-radius: 10px;
    }
    
    #tableTitleAndButtonContainer{
      display: flex;
      padding: 10px;
      
    }

    #button-create-new-survey-text {
        background: #EB5757;
        /*position: absolute;
       width: 200px;
        height: 52.65px;
        left: 447px;
        top: 15%;*/
        
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    /*line-height: 100px;*/
    /* or 417% */
    
    /*align-items: center;
    text-align: center;*/
    
    color: #FFFFFF;
    
    
    
    }

    #tableTitle {
        font-family: Poppins;
        /*position: absolute;
        width: 387.01px;
        height: 91.64px;
        left: 236px;
        top: 7%;*/

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 26px;
        color: #FFFFFF;
        padding-right: 20px;
        /* or 100% */

        /*display: flex;
        align-items: flex-end;*/
      }
      
      #surveys {
        text-align: center;
        font-family: Poppins;
        border-collapse: collapse;
        border: 3px solid #606168;
        width: 100%;
        color: white;
        background-color: #202027;
      }
      
      #surveys td, #surveys th {
        border: 1px solid #606168;
        padding: 8px;
      }
      
      /*#surveys tr:nth-child(even){background-color: #202027;}*/
      
      #surveys tr:hover {background-color: #606168;}
      
      #surveys th {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        background-color: #1a1a1f;
        color: white;
      }

      #button-edit {
        background: #57EB80;
        /*position: absolute;
        width: 200px;
        height: 52.65px;
        left: 447px;
        top: 148px;*/
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        /*line-height: 100px;*/
        /* or 417% */
        
        /*align-items: center;
        text-align: center;*/
        
        color: #FFFFFF;
        
        }
        
      #button-delete {
        background: #EB5757;
        /*position: absolute;
        width: 200px;
        height: 52.65px;
        left: 447px;
        top: 148px;*/
        
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        /*line-height: 100px;*/
        /* or 417% */
        
        /*align-items: center;
        text-align: center;*/
        
        color: #FFFFFF;
        
        }

        #button-show-results {
          background: #57C7EB;
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;
          
          }

          td {
            height: 64px;
            width: 225px;
          }
        /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        CREATE SURVEY PAGE
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
        .create-survey-page-container {
              width: 70%;
              height: 70%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: left;
              -ms-flex-pack: left;
              justify-content: left;
              -webkit-box-align: left;
              -ms-flex-align: left;
              align-items: left;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              margin-top: 20px;
            }

        .input-group-create-survey-page{
            color: white;
            text-align: left;
            font-family: Poppins, sans-serif;
            font-size: 24px;
            /*display: -webkit-box;
            display: -ms-flexbox;*/
            display: flex;
            /*-webkit-box-orient: vertical;
            -webkit-box-direction: normal;*/
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 25px;
            flex-wrap: wrap;
          
         
        }

        .input-create-survey-page-name {
          height: 2.5em;
          border-radius:10px;
          border: 1px solid #EB5757;
          padding: 13px;
          font-family: Poppins, sans-serif;
          font-size: 19px;
          color: white;
          background: rgba(15, 15, 15, 0.01);
          width: 85%;
          z-index: 2;
        }

        .input-create-survey-page-question {
          height: 2.5em;
          border-radius:10px;
          border: 1px solid #EB5757;
          padding: 13px;
          font-family: Poppins, sans-serif;
          font-size: 19px;
          color: white;
          background: rgba(15, 15, 15, 0.01);
          flex-grow: 15;    
          z-index: 1;    
        }

        .input-create-survey-page-answers {
          height: 2.5em;
          border-radius: 10px;
          border: 1px solid #EB5757;
          padding: 13px;
          font-family: Poppins, sans-serif;
          font-size: 19px;
          color: white;
          background: rgba(15, 15, 15, 0.01);
          flex-grow: 15;
          z-index: 1;
      

  
        }

        #button-area-line {
          margin: 10px auto;
          margin-left: 25px;
          display: -webkit-box;   
          display: -moz-box;  
          display: -ms-flexbox; 
          display: -webkit-flex; 
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: nowrap;
          max-width:35%;
        }

        #button-add-question{
          background: #57C7EB;
          /*position: absolute;
          width: 365.73px;
          height: 73.53px;
          left: 768.39px;
          top: 552.47px;*/
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;
          z-index: 1;
        }

        #button-create-survey{
          background: #57EB80;
          /*position: absolute;
          width: 365.73px;
          height: 73.53px;
          left: 768.39px;
          top: 552.47px;*/
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;
        }

        #button-cancel{
          background: #EB5757;
          /*position: absolute;
          width: 365.73px;
          height: 73.53px;
          left: 768.39px;
          top: 552.47px;*/
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;
        }

        .button-trash-can-delete-question {
          background-image: url('trashcanIcon.svg');
          background-repeat: no-repeat;
          background-size: 35px 35px;
          flex-grow: 1;
          z-index: 1;
          
        }

        .button-trash-can-input-line {
          display: inline-flex;
          justify-content: space-between;
          z-index: 1;
        }

        #button-plus {
          background-image: url('plusIcon.svg');
          background-repeat: no-repeat;
          padding: 20px;
          z-index: 1;
        }
        
        #plus-button-line {
          display: -ms-flexbox; 
          display: -webkit-flex; 
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          justify-content: flex-end;
          flex-wrap: nowrap;
          max-width: 100%;
        }

        
        .input-show-results-page-answers {
          height: 2.5em;
          border-radius: 10px;
          border: 1px solid #EB5757;
          padding: 13px;
          font-family: Poppins, sans-serif;
          font-size: 19px;
          color: white;
          background: rgba(15, 15, 15, 0.01);
          width: 100%;
          z-index: 1;
        }

        .input-group-date-line-container {
          display: inline-flex;
          padding-left: 50px;
          justify-content: space-evenly;
        }

        .react-datepicker-popper {
          z-index: 2 !important          
        }
    
        
       /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
       RESPONDENTS SURVEY LIST PAGE
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        #respondents-table-button-container{
          display: flex;
          flex-direction: column;
          padding: 2%;
          
        }

        #button-complete {
          background: #EB5757;
          
          /*position: absolute;
          width: 200px;
          height: 52.65px;
          left: 447px;
          top: 148px;*/
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;
          
          }

          #button-show-results-green {
            background: #57EB80;
            /*position: absolute;
            width: 200px;
            height: 52.65px;
            left: 447px;
            top: 148px;*/
            
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            /*line-height: 100px;*/
            /* or 417% */
            
            /*align-items: center;
            text-align: center;*/
            
            color: #FFFFFF;
            
            }

       /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
       RESPONDENTS SURVEY PAGE
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        #respondents-survey-page-button-area-line {
          margin: 10px auto;
          margin-left: 25px;
          display: -webkit-box;   
          display: -moz-box;  
          display: -ms-flexbox; 
          display: -webkit-flex; 
          display: flex;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: nowrap;
          max-width: 50%;
        }

        #respondents-survey-page-button-save{
          background: #57EB80;
          /*position: absolute;
          width: 365.73px;
          height: 73.53px;
          left: 768.39px;
          top: 552.47px;*/
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;

        }

        #respondents-survey-page-button-cancel{
          background: #EB5757;
          /*position: absolute;
          width: 365.73px;
          height: 73.53px;
          left: 768.39px;
          top: 552.47px;*/
          
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          /*line-height: 100px;*/
          /* or 417% */
          
          /*align-items: center;
          text-align: center;*/
          
          color: #FFFFFF;
        }

        /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
       ABOUT PAGE
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        .about-section {
          text-align: center;
          font-size: 31px;
          color: white;
          font-weight: bold;
          font-family: Poppins;
          margin: auto;
          padding: 17%;
          line-height: 50px;
        }

        #new-paragraph{
          padding: 30px;
        }

        /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
       CONTACT PAGE
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

        .contact-page-container {
          display: flex;
          justify-content: space-around;
          margin-top: 16%;
          height: 100%;
          color: white;
          font-family: Poppins;
          font-weight: bold;
          font-size: 24px;
        }

        #contact-item{
          text-align: center;
        }

